*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.old_13{
    background: #DDBD3F !important;
}
.old_18{
    background: #9C2021 !important;
}

#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    position: fixed;
    width: 100%;
    top: -20px;
    /* border-bottom: 1px solid #D9D9D9; */
    box-shadow: 1px 1px #D9D9D9;
    background: white;
    z-index: 5;
}

.header_left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_margin{
    margin: 10px;
}

.header_between{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.header_left-img{
    width: 60px;
    height: 60px;
}

.header_left-img:hover{
    cursor: pointer;
    opacity: 0.8;
}

.header_left-logo{
    align-items: center;
    font-size: 35px;
}


.header_left-text{
    width: 80px;
    font-size: 16px;
    color: #AF1B70;
    font-family: sans-serif;
    font-weight: 700;
}

.header_left-logo{
    color: #F98C17;
}

.header_between-text{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 0 8px;
}

.header_between-text:hover{
    cursor: pointer;
    color: #AF1B70;
}

.header_between-showtimes:hover .showtimes-text{
    display: flex;
}

.header_between-text:hover .header_between-icon-down{
    transform: rotate(180deg);
}

.blox-text-item{
    margin-left: 15px;
    font-family: sans-serif;
    font-weight: 600;
    width: 90%;
    border-radius: 5px;
}

.showtimes-text-item:hover{
    cursor: pointer;
    background: #F9B5C3;
    color: #AF1B70;
}


.blox-text-item:hover{
    cursor: pointer;
    background: #F9B5C3;
    color: #AF1B70;
}

.header_right{
    display: flex;
}

.header_right-item{
    font-size: 25px;
}

.header_right-user{
    position: relative;
}

.header_right-user:hover .header_right-user-elment{
    display: block;
}

.header_right-user-elment{
    position: absolute;
    top: 45px;
    margin: 10px 0 0 10px;
    background: white;
    width: 100px;
    list-style: none;
    border-radius: 3px;
    padding-left: 10px;
    display:none;
    animation: faleIn 0.1s ease-in;
}
@keyframes faleIn {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

.header_right-user-elment::after{
    content: "";
    top: -18px;
    left: 0;
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent white transparent;
}

.header_right-user-elment::before{
    content: "";
    top: -30px;
    left: 0;
    position: absolute;
    width: 100px;
    height: 40px;
}

.header_right a{
    color: black;
    text-decoration: none;
}

.user-elment{
    margin: 5px 0;
}


#content{
    margin-top: 85px;
    background-image: url('./img/ảnh\ content-1.jpg');
    height: 1120px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display:flex;
}

.content_left{
    background: #262626;
    height: 780px;
    width: 940px;
    border-radius: 5px;
}

.content_left-title{
    text-align: center;
    padding: 20px 0;
    color: white;
    font-weight: 400;
    font-size: 18px;
}
.content_left-screen{
    margin-top: 55px;
    text-align: center;
}
.content_left-screen-text{
    color: white;
    font-weight: 200;
}
.content_left-screen-hr{
    border-bottom: 3px solid white;
    width: 300px;
    margin: 10px auto 0;
}

.content_chair{
    margin: 80px 0 10px;
    text-align: center;
}

.content_chair-row{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.content_chair-row-singer{
    height: 25px;
    background-color: #722ED1;
    width: 35px;
    padding: 7px;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    margin: 0 5px;
}

.content_chair-row-singer:hover{
    cursor: pointer;
    opacity: 0.7;
}

.content_chair-row-focus{
    border: 2px solid white;
}

.content_chair-opacity{
    opacity: 0;
}

.content_chair-opacity:hover{
    cursor: default;
    opacity: 0;
}

.content_chai-row-pair{
    height: 25px;
    width: 80px;
    background-color: #DE2770;
    padding: 7px;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    margin: 0 5px;
}

.content_chai-row-pair:hover{
    cursor: pointer;
    opacity: 0.7;
}

.content_chai-row-hover{
    background-color: grey;
}

.content_note{
    display: flex;
    justify-content: center;
}
.content_note-element{
    margin: 65px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}
.content_note-element-pink{
    background-color: #DE2770;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    margin: 0 10px;
}

.content_note-element-grey{
    background-color: grey;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    margin: 0 10px;
}
.content_note-element-focus{
    background-color: #DE2770;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    margin: 0 10px;
    border: 2px solid white;
}
.content_note-element-purple{
    background-color: #722ED1;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    margin: 0 10px;
}


.content_right{
    background-color: white;
    height: 400px;
    width: 400px;
    border-radius: 5px;
    margin-left: 25px;
}

.content_right-top{
    display: flex;
}

.content_right-top-img{
    height: 180px;
    border-radius: 5px;
    margin: 40px 30px 0 10px;
}

.content_right-top-flim{
    margin: 40px 30px 0 10px;
}

.content_right-top-flim-old{
    background: green;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    font-size: 25px;
    padding: 4px 10px;
}

.content_right-top-flim-name{
    font-size: 20px;
    margin-top: 6px;
}

.content_right-top-flim-cinema{
    display: flex;
    font-size: 12px;
    margin: 10px 0;
    color: black;
    opacity: 0.8;
}

.content_right-top-flim-cinema-icon{
    margin-right: 6px;
}

.content_right-top-flim-cinema-time{
    font-size: 12px;
    margin: 10px 0;
    color: black;
    opacity: 0.8;
}

.content_right-bottom{
    margin: 0 15px;
}

.content_right-bottom-text{
    margin: 12px 0;
    font-size: 12px;
}


.content_right-bottom-money{
    display: flex;
    justify-content: space-between;
}

.content_right-bottom-money-btn{
    background: #DB2A7D;
    border: none;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 5px;
}


.content_right-bottom-money-btn:hover{
    cursor: pointer;
    opacity: 0.8;
}


#footer{
    display: flex;
    justify-content: center;
    background: black;
    color: grey;
}

.footer_connect-text,
.footer_apps-text,
.footer_certification-text,
.footer_client-up-title,
.footer_client-title,
.footer_service-title,
.footer_buy-title{
    color: white;
}

#footer>ul>li,
.footer_client>ul>li{
    list-style: none;
}

.footer_client{
    width: 20%;
    margin: 22px 50px;
}

.footer_client-up-title{
    margin: 0 0 10px;
}

.client-element-para{
    display: inline-block;
    color: white;
    opacity: 0.8;
    margin: 10px 0;
}

.client-element-para-location{
    display: inline;
}

.footer_client-up-element-hotline{
    display: flex;
    align-items: center;
}

.client-element-paragrap{
    margin: 0 10px;
}

.footer_client-up-help,
.footer_client-help{
    display: flex;
    align-items: center;
    border: 2px solid white;
    width: 70%;
    border-radius: 10px;
    height: 55px;
    margin: 10px 0 15px;
}

.footer_client-up-help:hover{
    cursor: pointer;
    opacity: 0.5;
}

.footer_client-help:hover{
    cursor: pointer;
    opacity: 0.5;
}

.footer_client-up-help-icon,
.footer_client-help-icon{
    font-size: 25px;
    margin: 0 5px 0 15px;
}

.footer_client-up-help-text,
.footer_client-help-text{
    margin: 0 15px;
    font-size: 13px;
}

.footer_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20px;
}

.footer_connect{
    margin-top: 22px;
}

.footer_certification{
    margin-bottom: 22px;
}
.footer_connect-icon{
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin: 10px 0 0 25px;
}

.connect-hover{
    background: white;
    height: 40px;
    width: 40px;
    padding: 7px;
    font-size: 25px;
    margin: 0 5px;
    border-radius: 50%;
    text-decoration: none;
}

.connect-hover:hover{
    cursor: pointer;
}

.icon-face{
    color: #0A66FF;
}

.icon-tiktok{
    color: black;
}

.icon-youtube{
    color: red;
}


.footer_apps-all{
    display: flex;
    margin: 10px 0 0 10px; 
}

.footer_apps-all-qr{
    height: 80px;
    border-radius: 2px;
}
.footer_apps-all-right{
    display: flex;
    flex-direction:column;
    margin-left: 10px;
}
.apps-all-right-chplay,
.apps-all-right-ios{
    height: 40px;
}

.apps-all-right-chplay:hover{
    cursor: pointer;
}

.apps-all-right-ios:hover{
    cursor: pointer;
}

.footer_service,
.footer_buy{
    margin: 0 50px;
}

.footer_service-title,
.footer_buy-title{
    margin: 22px 0 10px;
}

.footer_service-element,
.footer_buy-element{
    margin: 15px 0;
}