*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.old_13{
    background: #DDBD3F !important;
}
.old_18{
    background: #9C2021 !important;
}

.old_13_18{
    height: 35px;
    width: 45px;
    padding: 9px 10px;
}

#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    position: fixed;
    width: 100%;
    top: -20px;
    /* border-bottom: 1px solid #D9D9D9; */
    box-shadow: 1px 1px #D9D9D9;
    background: white;
    z-index: 5;
}

.header_left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_left-link{
    display: flex;
    align-items: center;
}

.header_left-text{
    border-left: 1px solid black;
}

.header_left-text > p{
    padding: 2px 0 0 10px;
}

.header_margin{
    margin: 10px;
}

.header_between{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.header_left-img{
    width: 60px;
    height: 60px;
}

.header_left-img:hover{
    cursor: pointer;
    opacity: 0.8;
}

.header_left-logo{
    align-items: center;
    font-size: 35px;
}


.header_left-text{
    width: 80px;
    font-size: 16px;
    color: #AF1B70;
    font-family: sans-serif;
    font-weight: 700;
}

.header_left-logo{
    color: #F98C17;
}

.header_between-text{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 0 8px;
}

.header_between-text > a{
    text-decoration: none;
    color: black;
}

.header_between-text:hover{
    cursor: pointer;
    color: #AF1B70;
}

.header_between-showtimes:hover .showtimes-text{
    display: flex;
}

.header_between-text:hover .header_between-icon-down{
    transform: rotate(180deg);
}

.blox-text-item{
    margin-left: 15px;
    font-family: sans-serif;
    font-weight: 600;
    width: 90%;
    border-radius: 5px;
}

.showtimes-text-item:hover{
    cursor: pointer;
    background: #F9B5C3;
    color: #AF1B70;
}


.blox-text-item:hover{
    cursor: pointer;
    background: #F9B5C3;
    color: #AF1B70;
}

.header_right{
    display: flex;
}

.header_right-item{
    font-size: 25px;
}

.header_right-user{
    position: relative;
}

.header_right-user:hover .header_right-user-elment{
    display: block;
}

.header_right-user-elment{
    position: absolute;
    top: 45px;
    margin: 10px 0 0 10px;
    background: white;
    width: 150px;
    list-style: none;
    border-radius: 3px;
    /* padding-left: 10px; */
    display:none;
    animation: faleIn 0.1s ease-in;
    border: 1px solid grey;
}
@keyframes faleIn {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

.header_right-user-elment::after{
    content: "";
    top: -18px;
    left: 0;
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent white transparent;
}

.header_right-user-elment::before{
    content: "";
    top: -30px;
    left: 0;
    position: absolute;
    width: 150px;
    height: 40px;
}

.header_right a{
    color: black;
    text-decoration: none;
}

.header_right-cart-all{
    position: relative;
}


.header_right-number-element{
    position: absolute;
    top: -15px;
    right: 0px;
    background: red;
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 12px;
}

.user-elment{
    margin: 5px 0;
    padding: 10px 10px;
    width: 100%;
    
}

.user-elment:hover{
    background-color: #fff0f6;
}



/* content */

#content{
    margin-top: 130px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    margin-bottom: 20px;
    min-height: 550px;
}
.content{
    border: 1px solid black;
    height: 400px;
    width: 1350px;
}

.content_top{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.content_img{
    height: 300px;
    border-radius: 10px;
    margin: 0 65px;
}

.content_flimm{
    margin: 0 50px 30px 0;
}

.content_flim-name{
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 20px;
}

.content_flim-old{
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 3px;
    color: white;
    padding: 5px 7px;
    margin-bottom: 15px;
}

.content_flim-cinema{
    display: flex;
    margin: 15px 0;
}

.content_flim-cinema-icon{
    margin-right: 10px;
}

.content_flim-cinema-time{
    margin-bottom: 15px;
}

.content_payment{
    margin-left: 50px;
    font-size: 20px;
}

.content_payment-text{
    margin: 20px 0;
}

.content_button{
    padding-right: 50px;
}

.content_button-btn{
    height: 50px;
    width: 120px;
    border-radius: 5px;
    border: none;
    float: right;
    margin: 0 20px;
    background-color: #d3378f;
    color: white;
}

.content_button-btn:hover{
    opacity: 0.7;
    cursor: pointer;
}

.content_button-cancel{
    background: #afaeae;
    color: black;
}



#footer{
    display: flex;
    justify-content: center;
    background: black;
    color: grey;
}




.footer_connect-text,
.footer_apps-text,
.footer_certification-text,
.footer_client-up-title,
.footer_client-title,
.footer_service-title,
.footer_buy-title{
    color: white;
}

#footer>ul>li,
.footer_client>ul>li{
    list-style: none;
}

.footer_client{
    width: 20%;
    margin: 22px 50px;
}

.footer_client-up-title{
    margin: 0 0 10px;
}

.client-element-para{
    display: inline-block;
    color: white;
    opacity: 0.8;
    margin: 10px 0;
}

.client-element-para-location{
    display: inline;
}

.footer_client-up-element-hotline{
    display: flex;
    align-items: center;
}

.client-element-paragrap{
    margin: 0 10px;
}

.footer_client-up-help,
.footer_client-help{
    display: flex;
    align-items: center;
    border: 2px solid white;
    width: 70%;
    border-radius: 10px;
    height: 55px;
    margin: 10px 0 15px;
}

.footer_client-up-help:hover{
    cursor: pointer;
    opacity: 0.5;
}

.footer_client-help:hover{
    cursor: pointer;
    opacity: 0.5;
}

.footer_client-up-help-icon,
.footer_client-help-icon{
    font-size: 25px;
    margin: 0 5px 0 15px;
}

.footer_client-up-help-text,
.footer_client-help-text{
    margin: 0 15px;
    font-size: 13px;
}

.footer_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20px;
}

.footer_connect{
    margin-top: 22px;
}

.footer_certification{
    margin-bottom: 22px;
}
.footer_connect-icon{
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin: 10px 0 0 25px;
}

.connect-hover{
    background: white;
    height: 40px;
    width: 40px;
    padding: 7px;
    font-size: 25px;
    margin: 0 5px;
    border-radius: 50%;
    text-decoration: none;
}

.connect-hover:hover{
    cursor: pointer;
}

.icon-face{
    color: #0A66FF;
}

.icon-tiktok{
    color: black;
}

.icon-youtube{
    color: red;
}


.footer_apps-all{
    display: flex;
    margin: 10px 0 0 10px; 
}

.footer_apps-all-qr{
    height: 80px;
    border-radius: 2px;
}
.footer_apps-all-right{
    display: flex;
    flex-direction:column;
    margin-left: 10px;
}
.apps-all-right-chplay,
.apps-all-right-ios{
    height: 40px;
}

.apps-all-right-chplay:hover{
    cursor: pointer;
}

.apps-all-right-ios:hover{
    cursor: pointer;
}

.footer_service,
.footer_buy{
    margin: 0 50px;
}

.footer_service-title,
.footer_buy-title{
    margin: 22px 0 10px;
}

.footer_service-element,
.footer_buy-element{
    margin: 15px 0;
}